# Dicts

### Combining two dicts

In [33]:
# Combining dicts (Pyton 3.5)
def merge_two_dicts(dict_1, dict_2):
    return {**dict_1, **dict_2}

dict_1 = {'name': 'seiji', 'height': 'tall'}
dict_2 = {'married': 'yes', 'surfs?': 'used to'}

merge_two_dicts(dict_1,dict_2)

{'height': 'tall', 'married': 'yes', 'name': 'seiji', 'surfs?': 'used to'}

### combining multiple dicts

In [34]:
from functools import reduce
def merge_multi_dicts(*dict_args):
    return reduce(merge_two_dicts, dict_args[0])

dict_3 = {'happy': 'yes', 'rich': 'not yet'}

merge_multi_dicts([dict_1,dict_2,dict_3])

{'happy': 'yes',
 'height': 'tall',
 'married': 'yes',
 'name': 'seiji',
 'rich': 'not yet',
 'surfs?': 'used to'}

#### discussion
This can also be achieved with a lambda function:  

`reduce(lambda x,y: {**x,**y}, [dict_1,dict_2,dict_3])`

# tuples

A tuple is an immutable ordered list of values.  
Since it is immutable, it is hashable, and this leads to important differences from lists.

### Using a tuple as a key in a dict

In [4]:
d = {(x*2, x**2): x for x in range(5)}
d

{(0, 0): 0, (2, 1): 1, (4, 4): 2, (6, 9): 3, (8, 16): 4}

#### discussion
This is not possible with lists, as they are mutable and cannot be hashed.  
For the same reason, tuples can be used in groupbys where lists cannot.

# Data Types for collections

In [14]:
import pandas as pd
import numpy as np

a_list = list(range(10))
a_tuple = tuple(range(10))
a_dict = dict(zip(range(10),range(10)))
an_array = np.array(range(10))
a_series = pd.Series(range(10))

In [12]:
from collections import namedtuple

num = namedtuple('number', ['key','value'])
[num(key=el,value=el**2) for el in range(5)]

[number(key=0, value=0),
 number(key=1, value=1),
 number(key=2, value=4),
 number(key=3, value=9),
 number(key=4, value=16)]

In [35]:
import pandas as pd
pd.DataFrame([num(key=el,value=el**2) for el in range(5)]).T

       0  1  2  3   4
key    0  1  2  3   4
value  0  1  4  9  16

## manipulating collections

In [43]:
[10,] * 4

[10, 10, 10, 10]

In [44]:
(10,) * 4

(10, 10, 10, 10)

#### Series useful for using map, like in scala

In [36]:
a_series.map(np.square).values

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])