In [1]:
!ipython kernelspec list

Available kernels:
  python3     /home/seiji/.ipython/kernels/python3
  python2     /home/seiji/anaconda/lib/python2.7/site-packages/ipykernel/resources
  scala211    /home/seiji/.local/share/jupyter/kernels/scala211

### Timing

In [ ]:
%load_ext autotime

### function printing

In [7]:
import ml_pipeline as mp
mp.autoLegitClass??

### printing html display of pandas dataframe

In [ ]:
from IPython.display import display, HTML

# Assuming that dataframes df1 and df2 are already defined:
print "Dataframe 1:"
display(df1)
print "Dataframe 2:"
HTML(df2.to_html())

### printing two pandas tables next to each other

CSS = """
.output {
    flex-direction: row;
}

"""

HTML('<style>{}</style>'.format(CSS))

## arguments from command line

In [ ]:
import sys

print len(sys.argv)
for i in sys.argv:
    print i

### help with a library

In [ ]:
import numpy as np
help(np)

### list associated attributes and methods

In [ ]:
dir(np)

## Jupyter

In [ ]:
pd.set_option('display.max_rows', 500)

## pandas Tricks to avoid traps

Avoid using pandas native index for tasks like joining or assigning new values in a column. Here are some examples that show what some traps are:

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(range(10),columns=['id'])
df.T

    0  1  2  3  4  5  6  7  8  9
id  0  1  2  3  4  5  6  7  8  9

In [3]:
df.index=range(len(df)*2)[::2]
df.T

    0   2   4   6   8   10  12  14  16  18
id   0   1   2   3   4   5   6   7   8   9

In [4]:
df2 = pd.DataFrame(range(10),columns=['new_id'])
df2.T

        0  1  2  3  4  5  6  7  8  9
new_id  0  1  2  3  4  5  6  7  8  9

In [5]:
df.loc[:,"new_id"] = df2["new_id"]
df.T

         0    2    4    6    8    10   12   14   16   18
id      0.0  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0
new_id  0.0  2.0  4.0  6.0  8.0  NaN  NaN  NaN  NaN  NaN

In [6]:
df.loc[:,"new_id"] = df2["new_id"].values
df.T

        0   2   4   6   8   10  12  14  16  18
id       0   1   2   3   4   5   6   7   8   9
new_id   0   1   2   3   4   5   6   7   8   9

## pandas DataFrames

In [1]:
import pandas as pd
import numpy as np

Incorporate this: http://www.swegler.com/becky/blog/2014/08/06/useful-pandas-snippets/

### exploding lists into columns

In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame([{0: [1,2,3],1:1},{0: [2,2,1],1:1},{0: [3,2,1],1:1}])
df

           0  1
0  [1, 2, 3]  1
1  [2, 2, 1]  1
2  [3, 2, 1]  1

In [10]:
zip(*df[0])

[(1, 2, 3), (2, 2, 2), (3, 1, 1)]

In [11]:
pd.DataFrame(zip(*df[0])).T

   0  1  2
0  1  2  3
1  2  2  1
2  3  2  1

In [ ]:
# imputing missing values
from scipy.stats import mode
mode(data['field_name'])
data['Gender'].fillna(mode(data['Gender']).mode[0], inplace=True)
data['Married'].fillna(mode(data['Married']).mode[0], inplace=True)
data['Self_Employed'].fillna(mode(data['Self_Employed']).mode[0], inplace=True)

In [ ]:
# read (reading) in a csv to pandas dataframe
folder = '~/data/dec1/'
file_name = 'test.csv'
df = pd.read_csv(folder+file_name)
# Rename (Renaming) a column in python pandas dataframe
df = df.rename(columns={'old_col1_name': 'new_col1_name', 'old_col2_name': 'new_col2_name'})
# Saving pandas dataframe to csv with the index being labeled as a column
df.to_csv(folder+file_name,index=True,index_label="index")
# Saving pandas dataframe to csv without the index without headers
df.to_csv(folder+file_name,index=False,header=False)

In [ ]:
# return DataFrame with only columns cols_disp and only rows where col1 values are non-null.
df[cols_disp][df["col1"].notnull()]

In [ ]:
print np.isnan(np.sum(ssl_feat["browser_major_version"].unique()))
print np.isnan(np.sum(ssl_burp_feat["browser_major_version"].unique()))

In [ ]:
# iterate through rows in dataframe
for idx, row_series in df.iterrows():
    # do something with row_series

In [ ]:
# iterate through columns in DataFrame:
for idx, col_series in df.iteritems():
    # do something

In [ ]:
# unique elements in a pandas dataframe
df.apply(pd.Series.nunique)

In [ ]:
# reset the index of DataFrame
df = df.reset_index(drop=True)

In [ ]:
# Aggregate unique and sum and mean groupby a column
df.groupby("col17").agg({"col1": np.sum, "col3": pd.Series.nunique, "col26": np.mean})

In [ ]:
# Aggregate and have count and nunique
df.groupby("col17").agg(['count', pd.Series.nunique])

In [12]:
s = pd.Series(np.arange(5.0))
x = range(2, 4)
mask = np.logical_not(s.isin(x))
mask_2 = -s.isin(x)
print s[mask]
print s[mask_2]

0    0
1    1
4    4
dtype: float64
0    0
1    1
4    4
dtype: float64

In [ ]:
# Series pandas index selecting values in or not in list
df[-df["col"].isin(["val1","val2"])] # -ve sign expresses logical not.
df[~df["col"].isin(["val1","val2"])] # ~ sign expresses logical not.
df[df["col"] == "val1"]
df[df["col"] != "val1"]
df[(df["col"] != "val1") & (df["col3"] > "val2")]

In [ ]:
# return rows where column values contain substring matches of "Seiji" or "Stephie"
df[df["col5"].str.contains("Seiji|Stephie")]
# return rows where column values don't contain substring matches of "Zadie" or "hello"
df[df["col5"].str.contains("Zadie|hello")==False]

In [ ]:
# Creating new column with values mapped from values in other column
df.loc[:,"new_col"] = df["col"].values
df.loc[:,"new_col"] = df[["col"]].applymap(some_function)
df.loc[:,"new_col"] = df[["col"]].applymap(lambda x: some_function(x))

## modifying some rows based on logic

In [ ]:
df.loc[df.ID == 103, ['FirstName', 'LastName']] = 'Matt', 'Jones'

In [ ]:
# Creating new columns with values on selected rows only
import rbc_pyspark as psk
sss_fv_id = psk.sss_id(dfML,sss_train_num=5)
training_run = 0
dfML.ix[sss_fv_id[training_run][0], 'data'] = "training"
dfML.ix[sss_fv_id[training_run][1], 'data'] = "test"

In [ ]:
def same_length(x,y):
    return len(x.split(','))==len(y.split(','))
# axis=1
sub_df.loc[:,"same_length"] = sub_df.apply(lambda row: same_length(row["cipher_suites"],row["default_included"]),axis=1)

In [1]:
import numpy as np
import random
import pandas as pd
df_test = pd.DataFrame(np.random.randn(4,3))
print df_test
# Select or set individual rows and columns in a dataframe
df_test.loc[[0,2],1] = 7
print df_test

          0         1         2
0  0.225184 -0.531915  0.894997
1 -0.544193  0.417076 -0.195098
2 -2.155399  0.528982 -1.618478
3 -0.111367 -1.110758 -0.520692
          0         1         2
0  0.225184  7.000000  0.894997
1 -0.544193  0.417076 -0.195098
2 -2.155399  7.000000 -1.618478
3 -0.111367 -1.110758 -0.520692

In [ ]:
def label_fix(label,version):
    if label=="Chrome" and version < 25:
        label = "Chrome_pre25"
    if label=="Firefox" and version < 27:
        label = "Firefox_pre27"
    return label
df["label"] = map(lambda label, version: label_fix(label,version), df["label"], df["version"])

#### column exploding to additional columns by joining

In [12]:
import numpy as np
import pandas as pd

In [16]:
np.random.randn(1,3)[0]

array([-0.17533859, -0.91586371, -2.6276775 ])

In [32]:
data = [('seiji',1,np.random.randn(1,3)[0]),
        ('steph',2,np.random.randn(1,3)[0]),
        ('zadie',3,np.random.randn(1,3)[0])]
df = pd.DataFrame(data,columns=['name','num','x_list'])
df

    name  num                                             x_list
0  seiji    1  [-0.479535184855, 0.712183398387, -0.953474106...
1  steph    2    [0.90511506773, -0.210834583249, 0.72067976817]
2  zadie    3   [-1.06207270624, 0.28903509909, -0.531564247236]

In [41]:
explodeDf = df['x_list'].apply(lambda row: pd.Series(row))
explodeDf

          0         1         2
0 -0.479535  0.712183 -0.953474
1  0.905115 -0.210835  0.720680
4 -1.062073  0.289035 -0.531564

In [51]:
## index should be inherently common to both
df = pd.DataFrame(data,columns=['name','num','x_list'])
df.index=[0,1,4]
explodeDf = df['x_list'].apply(lambda row: pd.Series(row))
explodeDf.rename(columns=lambda x: "probability_"+str(x), inplace=True)
pd.merge(df,explodeDf,left_index=True,right_index=True)

,name,num,x_list,probability_0,probability_1,probability_2
0,seiji,1,"[-0.479535184855, 0.712183398387, -0.953474106...",-0.479535,0.712183,-0.953474
1,steph,2,"[0.90511506773, -0.210834583249, 0.72067976817]",0.905115,-0.210835,0.720680
4,zadie,3,"[-1.06207270624, 0.28903509909, -0.531564247236]",-1.062073,0.289035,-0.531564

In [2]:
people = pd.DataFrame({'FirstName' : ['John', 'Jane'],
                      'LastName' : ['Doe', 'Austen'],
                      'BloodType': ['A-', 'B+'],
                      'Weight' : [90, 64]})

In [3]:
people

  BloodType FirstName LastName  Weight
0        A-      John      Doe      90
1        B+      Jane   Austen      64

In [4]:
pd.melt(people, id_vars=['FirstName', 'LastName'], var_name='measurements')

  FirstName LastName measurements value
0      John      Doe    BloodType    A-
1      Jane   Austen    BloodType    B+
2      John      Doe       Weight    90
3      Jane   Austen       Weight    64

## pivot table
[which feature vectors belong to more than one label](http://localhost:8888/notebooks/git/experiments/seiji/projects_stealth/http/McNulty/2016-09-27_.ipynb)

In [ ]:
gby = dfML.groupby('fv_id')[['y']].agg(pd.Series.nunique)
sharedFvId = np.array(gby[gby['y']>1.0].index)

pd.pivot_table(dfML[dfML['fv_id'].isin(sharedFvId)],\
               index=['fv_id'],\
               columns=['browser_family'],\
               values='fv_str',\
               aggfunc=pd.Series.nunique)

## bash

In [ ]:
# Display ip address

In [ ]:
%%bash
ip addr show

In [ ]:
%%bash
ifconfig -a

In [1]:
%%bash
#!/bin/bash
for i in {1..5}
do
   echo "Welcome $i times"
done

Welcome 1 times
Welcome 2 times
Welcome 3 times
Welcome 4 times
Welcome 5 times

In [3]:
%%bash
for file in {.,}*; do echo "$file"; done

.
..
.ipynb_checkpoints
seaborn.ipynb
useful_bash.ipynb
useful_python.ipynb

## lists

In [15]:
# flatten list of lists
l = [[3,2],[1,4,5],[23]]
print [j for sublist in l for j in sublist]
# flatten list of lists and nonlists
l = [[3,2],[1,4,5],23]

[3, 2, 1, 4, 5, 23]

In [18]:
j = [[3,2],[1]]
import itertools
print list(itertools.chain(*j))
print sum(j,[])
print [l for sublist in j for l in sublist]

[3, 2, 1]
[3, 2, 1]
[3, 2, 1]

In [24]:
L = [[[1, 2, 3], [4, 5]], 6]
def flatten(l):
    for el in l:
        if isinstance(el, collections.Iterable) and not isinstance(el, basestring):
            for sub in flatten(el):
                yield sub
        else:
            yield el

flatten(L)

In [3]:
# return 3 or n or x largest maximum values and indexes and indices in list array.
import numpy as np
demo_list = [1, 3, 2, 4, 5]
arr = np.array(demo_list)
arr.argsort()[-3:][::-1]

array([4, 3, 1])

In [5]:
demo_list = [1, 3, 2, 4, 5]
np.array(demo_list).argsort()[-3:][::-1]

array([4, 3, 1])

In [ ]:
# Find difference of two lists. items not common to both lists.
list(set(list_a) - set(list_b))

In [ ]:
# Find intersection of two lists.
set(list_a).intersection(list_b)

In [20]:
# Find index of item given a list containing it. Returns index of first match. 
# No match gives error.
list_items = ["foo", "bar", "bar", "baz", "bar"]
print list_items.index("bar")

1

In [21]:
# Find indices of matching items in a list. No match gives empty list. 
# Returns all matching indexes.
print [ix for ix, item in enumerate(list_items) if item == "bar"]

[1, 2, 4]

In [22]:
# Return indices of duplicate items in the list.
[ix for ix, item in enumerate(list_items) if item in list_items[:ix]]

[2, 4]

In [ ]:
# Using reduce to find common elements in list of lists
reduce((lambda x,y: x&y), [set(el) for el in list_of_lists])

## np arrays

In [6]:
import numpy as np
v1 = np.array([0,1,2,3,4])
v2 = np.array(range(5))
print (v1 == v2).all()
print np.array_equal(v2,v2)

True
True

## dict

In [11]:
# intilialise dictionary from list of keys and fix values.
list_1 = ['seiji', 'steph', 'zadie']
print {el:0 for el in list_1}
print dict.fromkeys(list_1, 0)

{'seiji': 0, 'zadie': 0, 'steph': 0}
{'seiji': 0, 'zadie': 0, 'steph': 0}

### saving pandas DataFrame that has ascii encoding

In [ ]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

df.to_csv(myPath,index=False)

## to sort

In [ ]:
# checking membership
{'a', 'b'} <= {'b','a','foo','bar'}
set('a') <= {'b','a'}

In [ ]:
# To check the existence of a local variable:

if 'myVar' in locals():
  # myVar exists.

# To check the existence of a global variable:

if 'myVar' in globals():
  # myVar exists.

In [ ]:
temp = [5,2,7,8,"end"]
print min(temp)
print (min(temp),temp.index(min(temp)))

## plotting

In [ ]:
from matplotlib import pyplot as plt
plt.plot(range(10))
# plot tick parameters - turn off xticks etc.
plt.tick_params(
    axis='x',          # changes apply to the x-axis
    which='both',      # both major and minor ticks are affected
    bottom='off',      # ticks along the bottom edge are off
    top='off',         # ticks along the top edge are off
    labelbottom='off') # labels along the bottom edge are off
plt.xlim([xmin, xmax]) # x-axis range limits
plt.ylin([ymin, ymax]) # y-axis range limits
plt.show()
plt.savefig('plot')
plt.clf()

## random selections

In [2]:
# If we want to randomly sample without replacement from a list we can shuffle the list
# and then pop items off.

### StratifiedShuffleSplit
Uses .iloc and not .ix: Be mindful of this!

In [ ]:
from sklearn.cross_validation import StratifiedShuffleSplit as SSSplit

sss = SSSplit(inputDf['y'], sss_train_num, test_size=sss_test_size, random_state=None)
for trainIdloc, testIdloc in sss:
    trainDf = tempDf.iloc[trainIdloc]
    testDf = tempDf.iloc[testIdloc]

# Not sure how to do this
* Pandas setting new column with values: How do I do this without the error warning *SettingWithCopyWarning:  A value is trying to be set on a copy of a slice from a DataFrame. Try using .loc[row_indexer,col_indexer] = value instead*
* assign different colormaps to sections of a correlation matrix plot - for example using mask in conjunction with sns.heatmap

## To sort
* http://stackoverflow.com/questions/4915920/how-to-delete-an-item-in-a-list-if-it-exists-python
* df_orig["user_agent"].str.contains("Chrome")

# I always fall for this
* Order is important in stuff like this:

In [ ]:
%matplotlib inline
matplotlib.rcParams.update({'font.size': 22, 'font.family': 'STIXGeneral'})

* Above works. Below over-rides and doesn't update the parameters.

In [ ]:
matplotlib.rcParams.update({'font.size': 22, 'font.family': 'STIXGeneral'})
%matplotlib inline